<div class = "main">
  <div class="signup_form text-white">
    <form>
      <div class="form-group">
        <label for="inputLastName">Имя</label>
        <input type="text" class="form-control form-gray " id="inputFirstName" placeholder="First Name">
      </div>
      <div class="form-group">
        <label for="inputLastName">Фамилия</label>
        <input type="text" class="form-control form-gray " id="inputLastName" placeholder="Last Name">
      </div>
      <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control form-gray " id="inputEmail" placeholder="name@example.com">
      </div>
      <div class="form-group">
        <label for="inputPassword">Пароль</label>
        <input type="password" class="form-control form-gray " id="inputPassword" placeholder="password">
      </div>
      <div class="form-group " >
        <label for="inputRetypePassword">Введите пароль заново</label>
        <input type="password" class="form-control form-gray " id="inputRetypePassword" placeholder="retype password">
      </div>
      <div class="form-group d-grid " style="margin-top: 20px; margin-bottom:20px">
        <button type="button" class="btn btn-primary btn_apdaptive">Зарегистрироваться</button>
      </div>
      <div class="form-group" >
        <p class="text-white" style="margin-bottom: 0px">Уже есть аккаунт?</p>
        <a href="../login" type="button" class="btn btn-primary btn_apdaptive">Войти</a>
      </div>
    </form>

  </div>
</div>
