<div class = "main">
  <div class="signup_form text-white">
    <form>
      <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control form-gray" id="inputEmail" placeholder="name@example.com">
      </div>
      <div class="form-group">
        <label for="inputPassword">Пароль</label>
        <input type="password" class="form-control form-gray" id="inputPassword" placeholder="password">
      </div>
      <div class="form-group d-grid " style="margin-top: 20px; margin-bottom: 20px;">
        <button type="button" class="btn btn-primary btn_apdaptive">Войти</button>
      </div>
      <div class="form-group" >
        <p class="text-white" style="margin-bottom: 0px">Ещё нет аккаунта?</p>
        <a href="../signup" type="button" class="btn btn-primary btn_apdaptive">Зарегистрироваться</a>
      </div>
    </form>

  </div>
</div>
