<div class = "main">
  <div class="signup_form text-white">
    <form>
      <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="name@example.com">
      </div>
      <div class="form-group">
        <label for="inputPassword">Пароль</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="password">
      </div>
      <div class="form-group d-grid " style="margin-top: 20px">
        <button type="button" class="btn btn-primary btn_apdaptive">Войти</button>
      </div>
    </form>

  </div>
</div>
