.mask{
    background: rgb(67,180,58);
    background: linear-gradient(90deg, rgba(67,180,58,1) 0%, rgba(45,46,201,1) 50%, rgba(86,176,72,1) 88%);
}
.nav-link {
  color: white;
}
.burger{
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: url("../../assets/burger-menu.png") no-repeat center;
  background-size: contain;
  margin: auto;
}

.close{
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: url("../../assets/close.png") no-repeat center;
  background-size: contain;

}
.avatar{
  height: 30px;

}
.active_danger{
  background-color: #284077;
  color: #000000;
}
.dropdown-item{
  background-color: #4e4e4e;
}
.dropdown-menu{
  background-color: #4e4e4e;
}
.dropdown-item.active, .dropdown-item:active {
  background-color: #3d4b88;
}
.bg-medium-dark{
  background-color: #292c34;
}
.btn-active{
  background-color: #284077;

}
