<div class="alert alert-danger" role="alert" *ngIf="errors.emptyNickname">
  Введите никнейм
</div>
  <div class="d-flex flex-column flex-shrink-0 bg-medium-dark " style="width: 4.5rem; height: 100%; position: fixed; left: 0px; top: 0px; z-index: 9999;"
       *ngIf="showMenu && !regLogBlockable">
    <a href="/" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Только иконка">
      <div class="burger" style="" (click)="showMenu= !showMenu" *ngIf="showMenu"></div>
<!--      <span class="visually-hidden">Только иконка</span>-->
    </a>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center" style="overflow: auto; display: inline-block;">
      <li class="nav-item">
        <a href="#" class="nav-link py-3 active_danger" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
          <img class = "avatar" src="../../assets/{{avatar1}}" alt="">
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link py-3 active_danger" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
          <img class = "avatar" src="../../assets/{{avatar2}}" alt="">
        </a>
      </li>
<!--      <li>-->
<!--        <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Панель">-->
<!--          <svg class="bi" width="24" height="24" role="img" aria-label="Панель"><use xlink:href="#speedometer2"></use></svg>-->
<!--        </a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Заказы">-->
<!--          <svg class="bi" width="24" height="24" role="img" aria-label="Заказы"><use xlink:href="#table"></use></svg>-->
<!--        </a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Продукция">-->
<!--          <svg class="bi" width="24" height="24" role="img" aria-label="Продукция"><use xlink:href="#grid"></use></svg>-->
<!--        </a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Покупатели">-->
<!--          <svg class="bi" width="24" height="24" role="img" aria-label="Покупатели"><use xlink:href="#people-circle"></use></svg>-->
<!--        </a>-->
<!--      </li>-->
    </ul>
    <div class="dropdown border-top">
      <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="mdo" width="24" height="24" class="rounded-circle">
      </a>
      <ul class="dropdown-menu text-small shadow " aria-labelledby="dropdownUser3">
        <li><button class="dropdown-item text-white" data-bs-toggle="modal" data-bs-target="#createNewChat">Новый чат</button></li>
        <li><a class="dropdown-item text-white" href="#">Настройка</a></li>
        <li><a class="dropdown-item text-white" href="#">Профиль</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><button (click)="goOut()" class="dropdown-item text-white" >Выйти</button></li>
      </ul>
    </div>
  </div>
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-medium-dark " style="width: 280px; height: 100%; position: fixed; left: 0px; top: 0px; z-index: 9999;"
       *ngIf="!showMenu && !regLogBlockable">

    <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
<!--      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>-->
      <div class="close" (click)="showMenu = !showMenu" *ngIf="!showMenu"></div>

      <span class="fs-4 ms-3">Боковая панель</span>
    </div>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto" style="overflow: auto; display: inline-block;" >
      <app-chat-menu [chatName]="name1" [chatAvatar]="avatar1" [chatID]="1"></app-chat-menu>
      <app-chat-menu [chatName]="name2" [chatAvatar]="avatar2" [chatID]="2"></app-chat-menu>

      <!--      <li class="nav-item">-->
<!--        <a href="#" class="nav-link active" aria-current="page">-->
<!--          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>-->
<!--          Главная-->
<!--        </a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a href="#" class="nav-link text-white">-->
<!--          <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>-->
<!--          Панель-->
<!--        </a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a href="#" class="nav-link text-white">-->
<!--          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>-->
<!--          Заказы-->
<!--        </a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a href="#" class="nav-link text-white">-->
<!--          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>-->
<!--          Продукты-->
<!--        </a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a href="#" class="nav-link text-white">-->
<!--          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>-->
<!--          Клиенты-->
<!--        </a>-->
<!--      </li>-->
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow text-white" aria-labelledby="dropdownUser1">
        <li><button class="dropdown-item text-white" data-bs-toggle="modal" data-bs-target="#createNewChat">Новый чат</button></li>
        <li><a class="dropdown-item text-white" href="#">Настройка</a></li>
        <li><a class="dropdown-item text-white" href="#">Профиль</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><button (click)="goOut()" class="dropdown-item text-white" >Выйти</button></li>
      </ul>
    </div>
  </div>

  <div class="modal fade" id="createNewChat" tabindex="-1" aria-labelledby="createNewChatLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="background: #1d1d1d">
        <div class="modal-header">
          <h5 class="modal-title text-white" id="createNewChatLabel">Создание чата</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group mb-3 text-white">
              <label for="inputChatName">Введите название чата</label>
              <input type="text" class="form-control form-gray text-white" id="inputChatName" placeholder="Chat Name">
            </div>
            <div class="form-group mb-3 text-white ">
              <label for="inputUsername">Добавить пользователя</label>
              <div class="position-relative">
              <input type="text" class="form-control form-gray text-white" id="inputUsername" placeholder="Search"
                     [(ngModel)]="userSearchForm.username" [ngModelOptions]="{standalone: true}">
              <button class="btn" style="position: absolute; top: 0; right: 0; z-index: 1;" (click)="userSearch()">
               <img src="../../assets/icons8-search-50.png" style="width: 24px;height: 24px" alt="">
              </button>
              </div>
            </div>
            <div *ngFor="let item of newData">
              <app-member-choice [username]="item" [activeButton]="dataObj[item]" (activeButtonChange)="dataObj[item]=$event"></app-member-choice>
            </div>
<!--            <app-member-choice [username]="name2"></app-member-choice>-->

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
          <button type="button" class="btn btn-active text-white" >Создать чат</button>
        </div>
      </div>
    </div>
  </div>
