.reglog-container {
  margin-bottom: 3vh;
  position: relative;
}
.card-col {
  height: 70vh; overflow: auto;
}
@media only screen and (max-width: 576px) {
  .card-col {
    height: auto;
    overflow: hidden;
  }
}
