<form class="form-group text-white fixed-bottom m-2 position-fixed text-center row d-flex justify-content-between" style="width: calc(98% - 4.5rem); left: 4.5rem;">
  <!-- Внутри этого тега все relative - тут и делаешь форму отправки -->
  <input type="text" class="form-control form-gray text-white col-sm" id="inputMessage" placeholder="Input Message">
  <div class="d-flex dropdown" style="flex: 0 0 48px;">
    <button class="btn plus btn-active dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 48px; height: 48px;"></button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item text-white" href="#">Записать голосовое сообщение</a>
      <a class="dropdown-item text-white" href="#">Отправить изображение</a>
      <a class="dropdown-item text-white" href="#">Отправить файл</a>
    </div>
  </div>
  <div class="d-flex" style="flex: 0 0 48px;">
    <button class="btn send" style="width: 48px; height: 48px;"></button>
  </div>

</form>
